
body {
    font-family: Arial, sans-serif;
    text-align: center;
   
}
html{
    background-color: yellow;
}
.calculator {
    width: 250px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(190, 114, 16);
    border: 3px solid #17f3e4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.num-button, .op-button, .func-button, .equal-button, .clear-button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.num-button:hover, .op-button:hover, .func-button:hover, .equal-button:hover, .clear-button:hover {
    background-color: #43145e;
}

.num-button:active, .op-button:active, .func-button:active, .equal-button:active, .clear-button:active {
    background-color: #ccc;
}

#input-field {
    width: 90%;
    height: 30px;
    font-size: 25px;
    padding: 10px;
    margin: 15px auto;
    border: none;
    border-radius: 10px;
    text-align: right;
}